@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; }
body { font-family: 'Inter', sans-serif; background-color: theme('colors.secondary'); color: theme('colors.text-primary'); }